<header class="container container-header">></header>

<main class="container container-main">
  <div *ngIf="!animation" class="container-main__button">
    <button (click)="fOpeningAnim()" id="btn-animate">Start</button>
  </div>
  <div class="container-main__logo">
    <div id="logo-text" ><div *ngIf="animation">TMG</div></div>
    <div id="astronaut"><img *ngIf="animation" class="full-width" src="assets/img/astronaut.png" alt=""></div>
  </div>
</main>

<footer class="container container-footer">
  <div class="container-footer__img">
    <img id="earth" src="assets/img/earth.png" alt="">
  </div>
</footer>
